<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Tus Negocios</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-label style="text-align: center;">
        <ion-button [routerLink]="['/product-add']">Agregar</ion-button>
    </ion-label>
  </ion-item>
  <ion-list padding>
    <!-- Recorremos el arreglo de registros utilizando item-->
    <ion-item *ngFor="let p of productos">
      <!-- Icono al inicio (start)-->
      <!-- <ion-icon name="star" slot="start"></ion-icon>-->
      <!-- Campos de item -->
      <ion-label>{{p.nombreprod }}</ion-label>
      <!-- Icono al final -->
      <!-- <ion-icon name="information-circle" slot="end"></ion-icon>-->
      <!-- routerlink salta a otra pagina-->
      <ion-button  [routerLink]="['/product-edit/',p.idProducto]">Editar <ion-icon slot="end" name="create"></ion-icon></ion-button><br />
      <!-- routerlink salta a otra pagina, pero con id del item-->
      <ion-button [routerLink]="['/product-detail',p.idProducto]">Detalles</ion-button><br />
    </ion-item>
  </ion-list>

</ion-content>
 