<ion-header [translucent]="true">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>cliente-edit</ion-title>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <form [formGroup]="clientForm"  (ngSubmit)="onFormSubmit(clientForm.value)">
    <ion-item>
      <ion-label position="floating">Nombre del usuario</ion-label>
      <ion-input type="text" [(ngModel)]="cliente.first_name" formControlName="prod_name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Apellido del usuario</ion-label>
      <ion-input type="text" [(ngModel)]="cliente.last_name" formControlName="prod_apellido"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Email</ion-label>
      <ion-textarea [(ngModel)]="cliente.email" formControlName="prod_email"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Clave</ion-label>
      <ion-input type="number" [(ngModel)]="cliente.clave" formControlName="prod_clave"></ion-input>
    </ion-item>
    <ion-button type="submit" shape="round" color="primary" expand="block" [disabled]="!clientForm.valid">Submit</ion-button>
  </form>
</ion-content>
