<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Healthy Food</ion-card-title>
      <br>
      <img src="assets/imagenes/foto.png" alt="Logo" />
    </ion-card-header>

    <ion-card-content>
      <form [formGroup]="formularioRegistro" (ngSubmit)="guardar()">
        <ion-item>
          <ion-label position="floating">Nombre de Usuario</ion-label>
          <ion-input formControlName="usuario" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input formControlName="password" type="password" required></ion-input>          
        </ion-item>

        <ion-item>
          <ion-label position="floating">Confirmar Contraseña</ion-label>
          <ion-input formControlName="confirmacionPassword" type="password" required></ion-input> 
        </ion-item>

        <div *ngIf="formularioRegistro.hasError('passwordMismatch', 'confirmacionPassword')">
          Las contraseñas no coinciden.
        </div>

        <br>
        <ion-button type="submit">
          Registrarse
        </ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
